.search-bar {
  margin: 20px;
  text-align: center;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
  border-left: 3px solid red;
}

.form-control:focus {
  border-color: white;
  border-bottom: solid red;
}

.logo-container img {
  width: 27em;
  margin: 37px auto;
}

.loadStyle {
  margin-top: 77px;
}

.mdl-textfield label {
  margin-bottom: -1px;
}
